{% extends 'postsapp/base.html' %}

{% block title %}Восстановление доступа{% endblock %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'usersapp/css/reset-styles.css' %}">
{% endblock %}
{% block body %}
    <h1>Введите новый пароль</h1>
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div>
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div>
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    {% if validlink %}
        <p>Пожалуйста, введите новый пароль дважды:</p>
        <form action="." method="post" class="form-update-password">
            {% csrf_token %}
            <input type="password" name="new_password1" autocomplete="new-password" id="id_new_password1" required>
            <input type="password" name="new_password2" autocomplete="new-password" id="id_new_password2" required>
            <button type="submit" class="button-do">сменить</button>
        </form>
    {% else %}
        <p>Ссылка для сброса пароля была недействительна, возможно потому, что она уже использовалось.</p>
    {% endif %}

{% endblock %}
