{% load i18n %}{% autoescape off %}
{% blocktranslate %}Вы получили это сообщение электронной почты, поскольку вы пытаетесь сбросить пароль учетной записи пользователя на сайте {{ site_name }}.{% endblocktranslate %}

{% translate "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'Ваш логин:' %} {{ user.get_username }}

{% translate "Спасибо за то что пользуетесь нашим сайтом!" %}

{% blocktranslate %}З уважением, Postiks Team{% endblocktranslate %}

{% endautoescape %}
