{% extends 'postsapp/base.html' %}

{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'usersapp/css/register-page-style.css' %}">
{% endblock %}

{% block body %}
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="message type-error">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="message type-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    <form method="post" class="form-register">
        {% csrf_token %}
        <div>есть аккаунт ? - <a href="{% url 'login-page' %}">ввойти</a></div>
        <input type="text" name="username" placeholder="логин" required>
        <input type="text" name="first_name" placeholder="имя" required>
        <input type="text" name="last_name" placeholder="фамилия" required>
        <input type="email" name="email" placeholder="почта" required>
        <input type="password" name="password1" placeholder="пароль" required>
        <input type="password" name="password2" placeholder="повторите пароль" required>
        <button>создать аккаунт</button>
    </form>
{% endblock %}
